.filter-container{
    display: flex;
    justify-content: space-between;
}
.shown-filter-options{
    border: 2px solid red;
    width: 200px;
   
}
.filter-option{
    display: flex;
    justify-content: space-between;
}



.recommended-list{
    position: absolute;
    list-style-type: none;
    z-index: 10;
    right: 0;
    
}
.recommend-this{
    border: 1px solid green;
}