.filter-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    border: 1px solid #F1F1F1;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.hide-and-show-filter{
    display: flex;
    align-items: center;
}
.shown-filter-options{
    width: 180px;
   
}
.filter-option{
    display: flex;
    justify-content: space-between;
}
.recommended-filter-button{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 140px;
   
}
.recommended-list{
    position: absolute;
    list-style-type: none;
    z-index: 10;
    right: 0;
    
}
.recommend-this{
    padding: 5px;
    font-size: 15px;
}
.filter-button-for-small-devices{
    display: none;
}
.recommended-list{
    background-color: #ffff;   
    padding: 5px; 
    font-size: 15.5px;
}
.recommended-btn{
        font-weight: 600;
}
.show-filter-btn{
    max-width: 200px;
    border: none;
    background-color: inherit;
}
@media (max-width: 480px) {
    .filter-container{
        display: flex;
        justify-content: space-evenly;
        border: 1px solid #F1F1F1;
    }
    .number-of-items{
        display: none;
    }
    .down-arrow{
        display: none;
    }
    .recommended-filter-button{
        width: auto;
   
    }
    
    .shown-filter-options{
        width: 160px;
        font-size: 10px;
    }
  
}    