.header{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #F1F1F1;
}
.primary-header{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;
}
.secondary-header{
  align-self: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.menu-icon{
  display: none;
}

.primary-header-features{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.top-most-header-container{
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  
}
.icon-theme-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.lorem-ipsum-text{
  color: #EB4C6B;
  letter-spacing: 1px;
  font-size: 12px;
}
@media (max-width: 480px) {
   .top-most-header-container{
      grid-template-columns: repeat(1, 1fr);
   }
   .primary-header{
    grid-template-columns: repeat(4,1fr);
   }
   .primary-header-heading{
    font-size: 20x;
    font-weight: 400;
    width: 61px;
    position: relative;
    right: 60px;
   }
   .menu-icon{
    display: inline;
    position: relative;
    right: 15px;
    
   }
   .app-logo{
    width: 26px;
    position: relative;
    right: 70px;
   }
   .primary-header-features{
     grid-template-columns: repeat(3,1fr);
   }
   .contact-icon{
    display: none;
   }
   .lang-change{
    display: none;
   }
   .secondary-header{
    display: none;
   }
    .display-only-large-devices{
      display: none;
    }
    .display-only-small-devices{
      display: block;
    }
}