.product-card{
    width: 300px;
    height: 510px;
  

}
.product-image{
    width: 300px;
    height: 399px;
}
.sign-in{
    font-size: 12px;
}
.product-description{   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-title{
    font-size: 15px;
    font-weight: 600;
    width: 90%;
}
@media (max-width: 480px) {
    .product-card{
        width: 160px;
        height: 280px;
   
    }
    .product-image{
        width: 160px;
        height: 200px;
    }
  
    .product-title{
        font-size: 10px;
       
    }
    .sign-in{
        font-size: 8px;
        line-height: 0.7;
    }
    
}