.product-card{
    border: 1px solid red;
    width: 300px;
    height: 462px;
    margin: 10px;
}
.product-image{
    width: 300px;
    height: 399px;
}
@media (max-width: 480px) {
    .product-card{
        border: 1px solid red;
        width: 160px;
        height: 280px;
        margin: 0;
   
    }
    .product-image{
        width: 160px;
        height: 200px;
    }
}