body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-weight: 400;
}
.filters-and-products-container{
    display: grid;
    grid-template-columns: auto auto;
}
.all-products-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5px;
}


.app-footer{
   background-color: #000000;
   color: #ffff;
   padding: 10px;

}

.primary-footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.display-only-small-devices{
    display: none;
}
.secondary-footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.secondary-footer-links{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.copyright-description{
  display: flex;
  justify-content: center;
  font-size: 10px;
}


.home-shop-buttons{
  display: none;
}
.home-shop-btn{
   width: 80px;
   border: none;
   background-color: #ffff;
}
.home-btn{
  color: #BFC8CD;
  border-right: 1px solid #BFC8CD;
}
.shop-btn{
  color: #252020;
}
.greet-container{
  font-size: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.greet-description{
  width: 50%;
  color: #252020;
  font-size: 20px;
}
.line-for-mobile-devices{
  display: none;
}

.app-greet{
  margin-top: 10px;
  margin-bottom: 10px;
}


.subscribe-button{
    background-color: #000000;
    color: #FFFFFF;
    opacity: 30%;
    height: 56px;
    width: 150px;
    border: 1.14px solid #ffff;
    border-radius: 3px;
  }
 .email-input{
    width: 350px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    border: none;
  }
  .email-subscribe-container{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .currency-state-container{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }


@media (max-width: 480px) {
  .greet-description{
     font-size: 12px;
     width: 90%;
  }
  .primary-footer{
    grid-template-columns: repeat(1, 1fr);
  }
  .primary-footer-heading{
    font-size: 18px;
  }
  .primary-footer-description{
    font-size: 12px;
    width: 80%;
    
  }
  .display-only-large-devices{
    display: none;
  }
  .display-only-small-devices{
    display: block;
  }
  .secondary-footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: start;
    font-size: 8px;
}
  .secondary-footer-links{
    display: none;
  }
  .follow-us-icons{
    display: none;
  }
  .home-shop-buttons{
    display: block;
    font-size: 12px;
  }
  .email-input{
    width: 200px;
    height: 40px;
  }
  .subscribe-button{
    background-color: #000000;
    color: #FFFFFF;
    opacity: 30%;
    height: 46px;
    width: 100px;
    border: 1.14px solid #ffff;
    border-radius: 3px;
  }
  
  .note-for-transaction{
    display: none;
  }
  .secondary-footer-links-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .follow-us-icons{
    display: none;
  }
  .accepted-payment-container{
    font-size: 14px;
  }
  .payment-gateways-images{
    width: 90%;
  }
}