body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filters-and-products-container{
    display: grid;
    grid-template-columns: auto auto;
}
.all-products-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 2px solid blue;
}


.app-footer{
   background-color: #000000;
   color: #ffff;
}

.primary-footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.secondary-footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.secondary-footer-links{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.copyright-description{
  text-align: center;
  padding: 10px;
}
.app-greet{
  display: flex;
  justify-content: center;
}
.greet-container{
  text-align: center;
  width: 600px;
}





.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Desktop: 3 columns */
  gap: 20px;
}
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);  /* Tablet: 2 columns */
  }
}
@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;  /* Mobile: 1 column */
  }
}